@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* html {
    font-family: "Jost", sans-serif;
    font-weight: 500;
  }
  p {
    font-weight: 400;
  }
} */

/* html {
    font-family: "Sora", sans-serif;
    font-weight: 400;
  }
  p {
    font-weight: 400;
  } */

@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
@import "react-slideshow-image/dist/styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Jost", sans-serif;
    font-weight: 500;
  }
  p {
    font-weight: 400;
  }
}

/* Enable to diable scolling when modal is up */
.scroll-lock {
  overflow: hidden;
}

/* For the active slideshow indicators */
.indicators .active {
  background-color: #4b5563 !important;
}

.dark .indicators .active {
  background-color: #d1d5db !important;
}
